*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
CMakeLists.txt.user.*
CMakeLists.txt.user
simpleAnimation/
nvcommon/
sutil/
cuda/
assets/

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
